<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="Vende en redes, sin rollos.">
    <meta property="og:title" content="Lizza" />
    <meta property="og:url" content="https://lizza.app/" />
    <meta property="og:description" content="Vende en redes, sin rollos." />
    <meta property="og:image" content="https://instagram.fpbc2-1.fna.fbcdn.net/v/t51.2885-19/271304144_444785190627327_1710009023096538233_n.jpg?stp=dst-jpg_s320x320&_nc_ht=instagram.fpbc2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=FeoBp4ZKV9AAX_myhPa&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AT9O_Ap5vFTHY8DTdfInuIkCbkevgYuXYyzkePgTxl-UEw&oe=631A1755&_nc_sid=8fd12b" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap" rel="stylesheet">
    <!-- Hotjar Tracking Code for https://lizza.app/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 3043135, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
  </head>
  <body>
    <!-- <script>
       window.fbAsyncInit = function() {
        FB.init({
          appId      : '514616313217695',
          cookie     : true,                     // Enable cookies to allow the server to access the session.
          xfbml      : true,                     // Parse social plugins on this webpage.
          version    : 'v13.0'           // Use this Graph API version for this call.
        });
      };
    </script> -->
   <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>

</html>
